.Password_form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.SavePasswordHide {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  left: 44.5%;
  bottom: 41.5%;
  cursor: pointer;
}
.Password_form h1 {
  font-weight: bolder;
  font-size: 50px;
  font-family: "Kanit", sans-serif;
  margin: 2%;
  color: var(--pagehead);
}
.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form form input {
  margin: 2%;
  font-weight: bold;
  width: 60%;
  border-radius: 30px;
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 2%;
  letter-spacing: 2px;
  font-family: "Kanit", sans-serif;
  background-color: rgb(233, 233, 233);
}
.error {
  border: 2px solid red;
}
button:disabled {
  cursor: none;
}
