.App {
  height: 100vh;
}
.themeSwitch {
  position: absolute;
  bottom: 5%;
  left: 2%;
}
.light {
  --pagehead: black;
  --bgcolor: white;
  --textcolor: black;
}
.dark {
  --pagehead: #bb86fc;
  --bgcolor: #1f1b24;
  --textcolor: white;
}
